@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    border-style: none;
    outline: none;
}

body {
    background-color: #F4F2FF;
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 10px 60px 0px 60px;
}

a {
    text-decoration: none;
}

::placeholder {
    font-size: 12px;
    color: #9A8F8F;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 52px;
    height: 52px;
}

.logoDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    color: #1A1A1A;
    margin-left: 10px;
}

#selectYear,
#selectTeacher {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 16px 6px 24px;
    margin-right: 20px;
    width: 149px;
    height: 37px;
    background: #98BC4B;
    border-radius: 8px;
    border: 1px solid white;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

#selectYear {
    cursor: pointer;
    background: #ED949B;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

select option {
    background-color: white;
    color: #9A8F8F;
}

.login {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 32px;
    gap: 10px;
    width: 110px;
    height: 37px;
    background: #4E4DA8;
    border-radius: 8px;
    border: 1px solid white;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #1A1A1A;
    height: 30px;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #3D3030;
}

.headDown {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.headDown img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.effective {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    padding: 6px 24px;
    gap: 10px;
    width: 224px;
    height: 34px;
    margin-bottom: 30px;
    background: #EAE9FF;
    border-radius: 12px;

    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #8D8CA9;
}

/* mainContent */
.mainContent {
    display: flex;
    justify-content: space-between;
}

.mainContent input {
    font-weight: 600;
    text-align: center;
}

.mainContent #day,
#year,
#time1,
#time2,
#time3,
#time4,
#time5 {
    color: #ffffff;
    margin-right: 18px;
    height: 35px;
    left: 114px;
    top: 366px;
    background: rgba(223, 24, 24, 0.75);
    box-shadow: 2px 2px 6px 1px rgba(228, 79, 82, 0.25);
    border-radius: 8px;
}

.mainContent #day {
    width: 78px;
}

.mainContent #year {
    width: 114px;
    margin-bottom: 15px;
}

.mainContent #time1,
#time2,
#time3,
#time4 {
    width: 160px;
    margin-bottom: 15px;
}

#time5 {
    width: 308px;
    margin-bottom: 15px;
}

/* lunch & prayer */
.break {
    width: 74px;
    height: 994px;
    margin-top: 45px;
    margin-right: 15px;
    background: rgba(173, 166, 255, 0.13);
    border-radius: 20.48px;
}

.up1 p {
    font-weight: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
}

/* header1 */
.day {
    color: #ffffff;
    width: 78px;
    height: 166px;
    margin-top: 20px;
    background: rgba(149, 140, 255, 0.75);
    box-shadow: -1.70667px 1.70667px 5.12px 2.56px rgba(173, 166, 255, 0.27);
    border-radius: 6.82667px;
}

/* header2 */
.year {
    color: #9A8F8F;
    width: 115px;
    height: 35px;
    margin-top: 6px;
    background: #FFFFFF;
    box-shadow: 3.41333px 3.41333px 10.24px 0.853333px rgba(0, 0, 0, 0.07);
    border-radius: 6.82667px;
}

/* header3 */
.time1,
.time2,
.time3,
.time4 {
    font-size: 12px;
    color: #9A8F8F;
    width: 160px;
    height: 35px;
    margin-top: 6px;
    background: #FFFFFF;
    box-shadow: 3.41333px 3.41333px 10.24px 0.853333px rgba(0, 0, 0, 0.07);
    border-radius: 6.82667px;
}

.time5 {
    font-size: 12px;
    color: #9A8F8F;
    width: 308px;
    height: 35px;
    margin-top: 6px;
    background: #FFFFFF;
    box-shadow: 3.41333px 3.41333px 10.24px 0.853333px rgba(0, 0, 0, 0.07);
    border-radius: 6.82667px;
}

.programming {
    width: 308px;
    height: 165px;
    background: #FFFFFF;
    box-shadow: 3.41333px 3.41333px 10.24px 0.853333px rgba(0, 0, 0, 0.07);
    border-radius: 6.82667px;

    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: -0.02em;

    color: #9A8F8F;
}

/* footer */
.footerTop,
.mid {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerTop h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #1A1A1A;
}

.footerTop p {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #3D3030;
}

.footerTop div {
    margin-right: 10px;
}

hr {
    width: 1440px;
    height: 0px;
    left: 0px;
    border: 1px solid rgba(173, 166, 255, 0.19);
}

.chairman {
    text-align: center;
}

.chairman h4 {
    margin-top: 60px;
    height: 10px;
    font-size: 12px;
}

.chairman p {
    height: 5px;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerBottom img {
    width: 24px;
    height: 24px;
}

.footerBottom a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #716E6E;
}

.footerBottom p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #716E6E;
}

.footerRight {
    display: flex;
}

/* extraClass */
.filter {
    background: rgba(27, 23, 68, 0.59);
    color: white;
}

.topMargin {
    margin-top: 37px;
}

/* hidden class */
.updateDiv {
    text-align: right;
    height: 30px;
    margin-right: 16px;
}

.updateButton {
    padding: 6px 24px;
    margin-top: 20px;
    width: 224px;
    height: 34px;
    background: #EAE9FF;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #8D8CA9;
}

.hidden{
    display: none;
}

/* login */
.mainLogin{
    background-color: #fafafd;
    box-sizing: border-box;
    font-family: 'Montserrat';

    margin: auto;
    width: 60%;
    height: 480px;
    box-shadow: 3.41333px 3.41333px 10.24px 0.853333px rgba(0, 0, 0, 0.07);
    border-radius: 6.82667px;
}
.mainLogin input{
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgba(149, 140, 255, 0.75);
    margin-bottom: 30px;
}
.mainLogin label{
    color: #8D8CA9;
    font-weight: 700;
font-size: 18px;
}
.mainLogin .logoDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginField{
    margin-left: 50px;
    margin-top: 50px;
}
.loginField button{
    cursor: pointer;
    border: 1px solid rgba(149, 140, 255, 0.75);

    padding: 6px 24px;
    width: 200px;
    height: 34px;
    background: #EAE9FF;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    color: #8D8CA9;
    margin-bottom: 20px;
}
.loginFieldMain{
    display: flex;
}
.mainLogin hr{
    border: 1px solid rgba(173, 166, 255, 0.19);
}


/* responsive */

@media (max-width:477px){

    body{
        width: 1380px;
    }
}